{% extends 'main/base.html' %}

{% block content %}
<div class="row">
    <div class="col-lg-12 col-12">
        <div class="card card-dark">
            <div class="card-header">
                <h3 class="card-title">Excel Data Entry</h3>
            </div>
            <form method="POST">
                <div class="card-body">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    <div class="alert alert-{{ messages[0][0] }}">
                        {{ messages[0][1] }}
                    </div>
                    {% endif %}
                    {% endwith %}

                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name" required>
                    </div>
                    <div class="form-group">
                        <label for="age">Age</label>
                        <input type="number" class="form-control" id="age" name="age" placeholder="Enter your age" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" required>
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone Number</label>
                        <input type="text" class="form-control" id="phone" name="phone" placeholder="Enter your phone number">
                    </div>
                    <div class="form-group">
                        <label for="address">Address</label>
                        <input type="text" class="form-control" id="address" name="address" placeholder="Enter your address">
                    </div>
                </div>
                <div class="card-footer">
                    <a href="/" class="btn btn-outline-danger">Cancel</a>
                    <button type="submit" class="btn btn-dark">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
