{% extends 'main/base.html' %}

{% block content %}
    <h1>Manage Google Sheets</h1>
    <div class="table-responsive">
        <table class="table table-bordered table-striped dataTable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for sheet in sheets %}
                    <tr>
                        <td>{{ sheet.name }}</td>
                        <td>
                            <a href="{{ url_for('view_sheet_data', file_id=sheet.id) }}" class="btn btn-info">View</a>
                            <a href="{{ url_for('download_sheet', file_id=sheet.id) }}" class="btn btn-primary">Download</a>
                            <form action="{{ url_for('delete_sheet', file_id=sheet.id) }}" method="post" style="display:inline;">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
