{% extends 'main/base.html' %}

{% block content %}
    <h1>Manage Google Sheets</h1>
    <div class="table-responsive">
        <table class="table table-bordered table-striped dataTable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for sheet in sheets %}
                    <tr>
                        <td>{{ sheet.name }}</td>
                        <td>
                            <!-- Use Bootstrap classes for responsive button layout -->
                            <div class="btn-group d-flex flex-column flex-sm-row" role="group" aria-label="Actions">
                                <a href="{{ url_for('view_sheet_data', file_id=sheet.id) }}" class="btn btn-info mb-2 mb-sm-0 me-sm-2">View</a>
                                <a href="{{ url_for('download_sheet', file_id=sheet.id) }}" class="btn btn-light">Download</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
